# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store

# Tooling
.vscode/
*.swp
